/* var = 재선언 가능, 재할당 가능, 호이스팅, 전역변수 */
호이스팅 = 밑에서 선언한 변수를 위에서도 쓴다.
let = 재선언 불가, 재할당 가능, 블록범위 변수
const = 재선언 불가, 재할당 불가, 상수
자바 자료형
-숫자: 정수 밒 부동 소수점
-문자열: 텍스트
-불리언: 트루 또는 폴스
-null:값이 존재하지 않음
-underfined:변수가 초기화 안 되거나 값이 할당 안 됌
-심벌:고유하고 변경 불가한 데이터 유형
-객체:복합 데이터 유형으로, 여러 속성과 메서드를 포함
-배열:여러 값을 순서대로 저장하는 데이터 유형



.target {
  padding: 50px;
  height: 100px;
  width: 300px;
}
