/* var = 재선언 가능, 재할당 가능, 호이스팅, 전역변수 */
.target {
  padding: 50px;
  height: 100px;
  width: 300px;
  background-color: rgb(235, 181, 181);
  border: solid 5px #ff0000;
  font-size: 50px;
  font-weight: bold;
  opacity: 0.5;
}
